/*    In the name of GOD :X    */
/*  Coding By Sadegh-HV (github.com/sadeghhv)  */
*{
	padding	: 0;
	margin	: 0;
}

body{
	background-color	: hsl(45, 10%, 90%);
}

.menu{
	background-image	: url('images/menu-bg.png');
}

.menu,
.home-p,
footer,
nav.menu li:hover,
div.mypic img{
	-webkit-border-radius	: 8px;
	-moz-border-radius		: 8px;
	-o-border-radius		: 8px;
	border-radius			: 8px; 
}

.home-p{
	background-image	: url('images/bg.png');
	min-height			: 450px;
	-webkit-box-shadow	: inset 10px 10px 0px 1px rgba(212, 212, 212, 0.2);
	-moz-box-shadow		: inset 10px 10px 0px 1px rgba(212, 212, 212, 0.2);
	-o-box-shadow		: inset 10px 10px 0px 1px rgba(212, 212, 212, 0.2);
	box-shadow 			: inset 10px 10px 0px 1px rgba(212, 212, 212, 0.2);
}

section.shadow{
	background-image	: url('images/shadow.png');
	background-color	: hsl(45,10%,90%);
}

footer{
	background-color	: rgb(212, 212, 212);
}

p.copy{
	color		: rgb(93, 93, 93);
	padding-top	: 15px;
}

nav.menu-org menu{
	list-style-type	: none;
}

nav.menu-org li{
	margin-left			: 24px;
	width				: 80px;
	cursor				: pointer;
	text-align			: center;
	-webkit-transform	: scale(1) rotate(0deg);
	-webkit-transition	: background 800ms ease-in-out 2s;
	-moz-transform		: scale(1) rotate(0deg);
	-o-transform		: scale(1) rotate(0deg);
}

nav.menu-org li:hover{
	background-image	: url('images/bg-menu.png');
	-webkit-transform	: scale(1) rotate(360deg);
	-webkit-transition	: all 800ms ease-in-out;
	-moz-transform		: scale(1) rotate(360deg);
	-moz-transition		: all 800ms ease-in-out;
	-o-transform		: scale(1) rotate(360deg);
	-o-transition		: all 800ms ease-in-out;
	min-height	: 70px;
	margin-top	: -7px;
}

nav.menu-org li:hover img{
	margin-top	:17px;
}

nav.menu-link li{
	width		: 29px;
	height		: 44px;
	margin-left	: 10px;
	float		: left;
	cursor		: pointer;
}

nav.menu-link a{
	display		: inline-block;
	outline		: none;
	position	: relative;
}

nav.menu-link div.fb{
		background-image	: url('images/fb-icon.png');
}

nav.menu-link div.tw{
		background-image	: url('images/tw-icon.png');
}

nav.menu-link div.gplus{
		background-image	: url('images/gplus-icon.png');
}

nav.menu-link div.youtube{
		background-image	: url('images/youtube-icon.png');
}

nav.menu-link div{
	min-height			: 42px;
	background-repeat	: no-repeat;
}

nav.menu-link div:hover{
	background-position	: bottom;
	-webkit-transition	: all 500ms ease-in-out;
	-moz-transition		: all 500ms ease-in-out;
	-o-transition		: all 500ms ease-in-out;
}

div.mypic{
	width		: 160px;
	min-height	: 170px;
}

h1.sh{
	color			: rgb(155, 199, 22);
	text-transform	: capitalize;
}

.wd{
	color			: rgb(212, 212, 212);
	text-transform	: capitalize;
}

p{
	color			: rgb(212, 212, 212);
}

.gallery{
	width			: 750px;
	min-height		: 650px;
}

.gallery li {
	float			: left;
	margin-right	: 15px;
	margin-top		: 15px;
}

.gallery li a {
	display				: block;
	border				: 8px solid #FAFAFA;
	border-bottom-width	: 30px;
	border-radius		: 2px;
}